<% provide(:title,@user.name) %>
<div class="container">
    <% if @user.notes.any? %>
          <ul class="notes">
            <%= render @notes %>
          </ul>
      <%= will_paginate @notes %>
    <% end %>
</div>
