<div class="container">
<nav class="navbar navbar-expand-lg ">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">カテゴリー1</a>
      <a class="nav-item nav-link" href="#">カテゴリー2</a>
      <a class="nav-item nav-link" href="#">カテゴリー3</a>
      <a class="nav-item nav-link" href="#">カテゴリー4</a>
    </div>
  </div>
</nav>
</div>