@import "bootstrap";
.header-area{
  background:white;
  border: 1px solid lightgrey;
}
.body-area{
  background: #F7F9F9;
  padding-top: 30px;
  padding-bottom: 30px;
  width:100%;
  height: 100%;
}
ul{
  list-style: none;
}
ul.notes{
  padding-left: 0;
}
.post-area{
  width: 60%;
  background: white;
  margin: 0 auto 10px auto;
  padding: 10px;
  box-shadow: rgba(0,0,0,0.1) 0 1px 1px 0;
}

//profile_pic
.profile_pic{
  width:10%;
  height:10%;
  display: block;
  margin-bottom: 10px;
}

.showthum{
  height: 300px;
}

.xem_donate{
  position: fixed;
  right: 100px;
  top:550px;
  height: 200px;
  width: 200px;
}
.xem_donate>p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
  padding-right: 40px;
}

.donate{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  background: grey;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.donate:hover{
  background: #a09b9b;
}

.donate_icon{
  color: yellow;
}

#search-pre-btn{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#search-btn{
  margin-right:0;
}

#search-box{
  border: 1px solid lightgrey;
  border-radius: 100px;
  width:200px;
  display:none;
}
.navbar a.navbar-brand:hover{
  background: white !important;
  cursor: pointer !important;
}
.navbar-nav a:hover{
  color: black !important;
  opacity: 0.6 !important;
  background: white !important;
}
.post-info{
  margin-top: 5px;
}

//profile_img
img.profile_image{
  width:5%;
  height:5%;
}

//販売設定
p.sell{
  display: inline;
}

label.input_price{
  margin-top: 10px;
  visibility: hidden;
}

.post-content-area.overflow{
  overflow: hidden;
  text-overflow: ellipsis;
}

