let i = $('div[class^=changeElementImage]:visible').attr('class');
let j = i.match(/changeElementImage[0-9]/);
    let nextBtnClass = j[0];
    let nextBtnNum = nextBtnClass.substr(18);

    let index = nextBtnNum - 1;
    let k = $('.new').length + 1;
     let Index = $('textarea').eq(index);
     let nextIndex = $('textarea').eq(index + 1);

     let filename = $(`img.showimg${nextBtnNum}`).attr('title');
$('#sendtext').append('&lt;img class="showthum showimgpost'+ nextBtnNum +'" src="uploads/image/picture/<%= current_user.id %>/'+ filename +'"&gt;');

    let element = '<div class="new element' + k + '"><div class="addElement' + k +
        ' showMenuIcon icons" style="display: none;"><i class="fas fa-plus-circle fa-2x"></i></div><div class="changeElementBack' +
        k +
        ' backMenuIcon postIcon icons" style="display: none;"><i class="fas fa-times fa-2x"></i><p class="ex-box">テキスト入力</p></div><div class="changeElementImage' +
        k +
        ' postIcon icons imgBtn" style="display: none;"><i class="far fa-image fa-2x imgBtn' +
        k + '"></i><p class="ex-box">画像挿入</p></div><textarea type="text" placeholder="テキスト" class="input' +
        k + '" cols="50" rows="1"  oninput="textAreaHeightSet(this)" onchange="textAreaHeightSet(this)" ></textarea></div><div class="modal fade" id="modal'+
        k +'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">画像選択</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body modal-body-area'+k+'"><img src="" title="" class="showimg'+k+'"></div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">決定</button></div></div></div></div>';
    $(`.element${nextBtnNum}`).after(element);
    $(`textarea.input${k}`).after("<%= j render partial: 'images/add_link_form'%>");
    $(`.modal-body-area${k}`).append("<%= j render partial: 'images/add_image_form'%>");
    if (nextIndex < n) {
        $('textarea')[nextIndex].focus();
    } else {
        $('textarea')[Index].blur();
    }

